body{
    background-color: black;
}

.producte{
    border-color: black;
    color: white;
}

#pro1{
    height: 15%;
    width: 15%;
}

.BotoCompra{
    width: 500%;
    height: 500px;
    background-image: url("../MEDIA/CarritoSimbolos.png");
}