.producte{
    float: left;
    color: white;
    width: 350px
}

.img\.pro{
    height: 50%;
    width: 50%;
}

aside {
    color: white;
    float: right;
    padding-right: 20%;
}

button {
    border-color: white;
    color: white;
}
input{
    color: white;
}