*{
    background-color: black;
}
.respmenu{
    display: none;
}
#title {
    width: 40%;
    display:block;
    margin: auto;
}
#menu {
    background-color: black;
    height: 40px;
    padding-top:18px;
    text-align: center;
}
#menu a {
    font-size: 20px;
    border-right:1px solid black;
    background-color: #dd801b;
    padding:17px;
    color:black;
    text-decoration: none;

}
#menu a:hover{
    border-bottom:4px solid #dd801b;
    border-left:1px solid black;
    background-color: black;
    color:white;
    padding:20px;
}
hr{
    color: #dd801b;
}
@media (max-width: 702px){
    #menu {
        display: none;
    }
    .respmenu{
        display: block;
    }
    .respmenu a {
        color: inherit;
        text-decoration: none;
        display: block;
        padding: 10px 20px;
        border-bottom: 2px solid black;
        max-width: 200px;
        background: black;
        font-variant: small-caps;
        text-shadow: 1px 1px black;
    }
    .respmenu input[type="checkbox"], .respmenu .fa-bars, .respmenu .fa-times {
        position: absolute;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        right: 0;
        top: 0;
        width: 48px;
        height: 48px;
    }

    .respmenu .fa-bars, .respmenu .fa-times {
        font-size: 48px;
        pointer-events: none;
    }

    .respmenu input[type="checkbox"] {
        opacity: 0;
    }

    .respmenu {
        color: white;
        position: relative;
        background: black;
        min-height: 48px;
    }

    .respmenu nav {
        display: none;
    }

    .respmenu input:checked ~ nav {
        display: block;
    }

    .respmenu input:checked ~ .fa-bars {
        display: none;
    }

    .respmenu input:not(:checked) ~ .fa-times {
        display: none;
    }
}

iframe{
    width: 100%;
    border-style: none;
}